* {
    font-family: 'WindSong', cursive;
    /* background-color: blueviolet; */   
}

body {
    margin: 0;
}

main {
    display: flex;
    justify-content: space-between;
    align-items:center;
    background: rgb(153, 153, 216);
    padding: 0;
    margin: 0;
    position: relative;
}

@keyframes scroll {
    0%, 100% {
        background-position: 70% 0%;
    }
    50% {
        background-position: 70% 100%;
    }
}

#backgroundImage {
    background-image: url("./assets/skelly-butterfly.jpg");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70% 30%; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

    animation: scroll 600s linear infinite;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#fieldText {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    z-index: 1; 

    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: both;
}

#gridWhole {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 600px;
    border-radius: 600px;
    z-index: 3;
    position: relative;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
}

.grid {
    height: 100px;
    width: 100px;
    border: 3px;
    border-color: rgba(255, 255, 255, 0.8);
    border-style: dotted;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.column {
    height: 100vh;
    width: 300px;
    background-color: none;
    z-index: 1;
    padding-right: 20px;
}

#redColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

#backgroundSelector {
    display: flex;
    font-size: xx-large;
}

#whiteBubble {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 0px 200px 200px 200px;
    margin: 20px 0px 20px 20px;
}

#redBubble {
    filter: invert();
    background-color: rgba(128, 235, 230, 0.5);
    border-radius: 200px 0px 200px 200px;
    margin-top: 20px;
}

.bubble-flex {
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text{
    Color: rgb(60, 60, 60);
    font-size: 30px;
    margin-bottom: -25px;
    text-shadow: 0 0 10px #ffffff,
                 0 0 20px #ffffff,
                 0 0 30px #ffffff,
                 0 0 40px #ffffff;
}

.points {
    color: (60, 60, 60);
    font-size: 80px;
    margin: 0;
}

.circle {
    border-radius: 200px 200px 200px 200px;
}

.lemon {
    border-radius: 200px 0px 200px 0px;
}

.grid-color-white {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 
    0 0 10px 1px rgba(255, 255, 255, 0.7); 
    border: 3px #ffffff61;
    border-style: dotted;
    
}
.grid-color-red {
    background-color: rgba(119, 15, 15, 0.5);
    border: 1px rgba(228, 14, 14, 0.5);
    border: 3px #29090961;
    border-style: dotted;
    box-shadow: 0 0 5px 1px rgba(202, 17, 17, 1);
}

.bubble-win {
    box-shadow: 0 0 50px 10px rgb(255, 255, 255),
                0 0 50px 10px rgba(255, 255, 255, 0.706);
    background-color: rgba(255, 255, 255, 0.8) !important;
}   

.hidden {
    display: none;
}

.whiteText {
    color: rgba(255, 255, 255, 0.7);
}