* {
    font-family: 'WindSong', cursive;
    /* background-color: blueviolet; */   
}

body {
    margin: 0;
}

section {
    display: flex;
    justify-content: space-between;
    align-items:center;
    background: rgb(153, 153, 216);
    padding: 0;
    margin: 0;
    position: relative;
}

#player-field {
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: rgb(153, 153, 216);
    padding: 0;
    margin: 0;
    position: relative;
}

@keyframes scroll {
    0%, 100% {
        background-position: 70% 0%;
    }
    50% {
        background-position: 70% 100%;
    }
}

#background-image {
    background-image: url("./assets/skelly-butterfly.jpg");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70% 30%; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

    animation: scroll 100s linear infinite;
}

/* <><><><><> Win <><><><><> */

#fieldText {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    z-index: 1; 
}

/* <><><><><> grid <><><><><> */


#grid-whole {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 600px;
    border-radius: 600px;
    z-index: 3;
    position: relative;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
}

.grid {
    height: 100px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

/* <><><><><> columns <><><><><> */

.column {
    height: 100vh;
    width: 300px;
    background-color: none;
    z-index: 1;
    padding-right: 20px;
}

#player1-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#player1-bubble {
    height: 300px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 200px 200px 200px 0px;
    margin: 0px 0px 20px 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#player2-bubble {
    filter: invert();
    height: 300px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 200px 0px 200px 200px;
    margin-top: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text{
    Color: rgb(60, 60, 60);
    font-size: 30px;
    margin-bottom: -25px;
    text-shadow: 0 0 10px #ffffff,
                 0 0 20px #ffffff,
                 0 0 30px #ffffff,
                 0 0 40px #ffffff;
}

.points {
    color: (60, 60, 60);
    font-size: 80px;
    margin: 0;
}

/* <><><><><> Global Styles <><><><><> */

.circle {
    border-radius: 200px 200px 200px 200px;
}

.lemon {
    border-radius: 200px 0px 200px 0px;
}

.grid-color-white {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 
        0 0 10px 1px rgba(255, 255, 255, 0.7); 
    border: 3px #ffffff61;
    border-style: dotted;
        
}
.grid-color-invert {
    border: 1px black;
    filter: invert();
    border: 3px #ffffff61;
    border-style: dotted;
    box-shadow: 0 0 10px 1px rgba(253, 253, 253, 0.7);
}

.bubble-win {
    box-shadow: 0 0 50px 10px rgb(255, 255, 255),
                0 0 50px 10px rgba(255, 255, 255, 0.706);
    background-color: rgba(255, 255, 255, 0.8) !important;
}   

.hidden {
    display: none;
}
